/* CURSOR DEFAULT */

.cursor {
    display: none;
    position: fixed;
    z-index: 5;
    width: 2rem;
    height: 2rem;
    background: linear-gradient(135deg, var(--cursor), var(--tertiary-40));
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: height 200ms ease, width 200ms ease, background-color 200ms;
}

/* CURSOR HOVER */

.hover {
    width: 2.5rem;
    height: 2.5rem;
}

/* CURSOR CLICK */

.click {
    width: 1.5rem;
    height: 1.5rem;
}

/* CHECK IF USER USES A COMPUTER TO ADD THE CUSTOM CURSOR */

@media (pointer: fine) {
    .cursor {
        display: block;
    }
}