/* CURSOR DEFAULT */

.cursor {
    display: none;
    height: 2rem;
    width: 2rem;
    background: linear-gradient(135deg, var(--cursor), var(--tertiary-40));
    border-radius: 50%;
    z-index: 3;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: height 200ms, width 200ms, background-color 200ms;
}

/* CURSOR HOVER */

.hover {
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--hover-cursor);
}

/* CURSOR CLICK */

.click {
    height: 1.7rem;
    width: 1.7rem;
}

/* CHECK IF USER USES A COMPUTER TO ADD THE CUSTOM CURSOR */

@media (pointer: fine) {
    .cursor {
        display: block;
    }
}