/* TITLE */

.home .title-elements {
    color: var(--home-on-title);
    background-color: var(--home-title-bg);
}

    /* LOGO */

.logo-wrapper {
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    animation-name: logo-mask-rotation;
    mask: var(--logo-mask);
    -webkit-mask: var(--logo-mask);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
}

.logo {
    width: 15rem;
    height: 15rem;
    animation-name: logo-rotate-negation;
    border-radius: 50%;
}

.logo-wrapper,
.logo {
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 60s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
}

@media(pointer: fine) {
    .logo-wrapper:hover,
    .logo-wrapper:hover .logo {
        animation-play-state: paused;
    }
}

    /* TITLE ELEMENTS BG */

.title-elements {
    display: grid;
    width: fit-content;
    height: 15rem;
    font-size: 1rem;
    align-content: center;
    align-items: center;
    border-radius: 100vw;
    grid-auto-rows: min-content;
    justify-content: center;
}

    /* TITLE TEXT */

.title {
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 5em;
    font-weight: 900;
    text-align: center;
    margin-block: 0;
    margin-inline: 5rem;
}

    /* SUBTITLE */

.subtitle {
    text-align: center;
    margin-block: 0;
}

.subtitle:nth-child(n + 1) {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 2.5em;
    font-weight: 400;

}

.subtitle:nth-child(n + 3) {
    margin-top: .7rem;
    font-family: 'JetBrains Mono', monospace;
    font-size: 2em;
    font-weight: 800;
}

/* FEATURED PROJECTS */

.featured-projects-wrapper {
    width: 100%;
    max-width: 120rem;
    margin-top: 7.5rem;
}

.featured-projects-title {
    margin-left: 3rem;
    font-family: 'Lexend Deca', sans-serif;
    font-size: var(--font-size-l);
    line-height: 1;
    font-weight: 600;
    color: var(--standard-text);
}

.featured-projects {
    --min: 32rem;
    display: grid;
    margin-top: 2rem;
    gap: 1rem;
    grid-auto-flow: row;
    grid-auto-rows: minmax(var(--min), auto);
    grid-template-columns: repeat(3, 1fr);
}

    /* FEATURED PROJECTS ELEMENTS */

.featured-project-element {
    display: grid;
    height: 100%;
    background-color: var(--featured-project-card);
    border-radius: var(--border-radius-l);
    grid-auto-rows: min-content auto max-content;
    transition: background-color 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000), 
                border-radius 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.featured-project-illustration {
    height: 20rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: inherit;
}

.featured-project-informations {
    display: grid;
    margin: 2rem;
    align-self: start;
    gap: .8rem;
}

.featured-project-name,
.featured-project-desc {
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
    color: var(--standard-text);
}

.featured-project-name {
    font-size: var(--font-size-m);
    transition: color 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000), 
                text-shadow 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.featured-project-desc {
    font-size: var(--font-size-s);
    transition: color 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.featured-project-links-wrapper {
    display: flex;
    float: bottom;
    height: 3rem;
    margin: 2rem;
    gap: 1rem;
}

.featured-project-link {
    height: 3rem;
    fill: var(--featured-project-links);
    transition: fill 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.featured-project-links-wrapper a {
    border-radius: 20%;
}

@media(pointer: fine) {
    .featured-project-element:hover {
        background-color: var(--featured-project-card-hover);
        border-radius: var(--border-radius-xl);
    }

    .featured-project-element:hover .featured-project-informations > * {
        color: var(--featured-project-infos-hover);
    }

    .featured-project-element:hover .featured-project-name {
        text-shadow: 0 0 .2rem var(--featured-project-infos-hover);
    }

    .featured-project-element:hover .featured-project-link {
        fill: var(--featured-project-link-hover);
    }

    .featured-project-element:hover a {
        outline-color: var(--featured-project-link-hover);
    }
}