/* MOBILE NAVBAR MAIN CONTAINER */

.navbar-mobile-wrapper {
    animation-duration: 200ms;
    animation-name: top-to-bottom;
    backdrop-filter: blur(10px);
    background-color: var(--mobile-navbar-bg);
    display: none;
    height: 6rem;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.navbar-mobile-wrapper.hiding {
    animation-duration: 200ms;
    animation-name: bottom-to-top;
}

.navbar-mobile-elements {
    display: flex;
    margin: 0.5rem 0 0.5rem 1rem;
    width: 100%;
}

.navbar-mobile-navigation {
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.navbar-mobile-change-theme {
    margin-left: auto;
    margin-right: 1rem;
}

    /* ANIMATION LOADING FIX */

.navbar-mobile-wrapper.visible {
    animation: 0ms;
}

/* HAMBURGER MENU */

.hamburger-menu-wrapper,
.close-menu-button {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
}

.hamburger-menu-wrapper .material-symbols-rounded {
    color: var(--standard-text);
}

.header-wrapper {
    border-radius: 100vw;
    gap: 1.5rem;
    height: 5rem;
    padding-inline: 1.5rem;
}

.header-wrapper,
.hamburger-menu-wrapper,
.close-menu-button {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.header-logo {
    height: 3rem;
    mask: var(--logo-mask);
    -webkit-mask: var(--logo-mask);
    mask-size: contain;
    -webkit-mask-size: contain;
    width: 3rem;
}

.header-text {
    color: var(--standard-text);
    font-family: "Lexend Zetta", serif;
    font-size: var(--font-size-header);
    font-weight: 400;
}

@media(pointer: fine) {
    .hamburger-menu-wrapper:hover,
    .header-wrapper:hover, 
    .close-menu-button:hover,
    .mobile-change-theme:hover {
        background-color: var(--transparent-grey);
    }

    .hamburger-menu-wrapper:hover .material-symbols-rounded,
    .close-menu-button:hover .material-symbols-rounded {
        font-variation-settings: 'wght' 800;
    }
}

/* NAVPANEL */

    /* CLOSE PANEL BUTTON */

.close-menu-wrapper {
    display: flex;
    padding: 0.5rem 0 0.5rem 1rem;
}

.mobile-panel-wrapper {
    animation-duration: 200ms;
    animation-name: left-to-right;
    background-color: var(--navgroup-bg);
    border-radius: 0 3rem 3rem 0;
    display: none;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    width: 32rem;
    z-index: 3;
}

.mobile-panel-wrapper.hiding {
    animation-duration: 200ms;
    animation-name: right-to-left;
    display: flex;
}

.mobile-panel-contents {
    display: grid;
    gap: 1rem;
    grid-auto-rows: min-content;
    justify-items: center;
    margin-inline: auto;
    width: fit-content;
}

.mobile-icon-container {
    align-items: center;
    border-radius: 100vh;
    display: flex;
    gap: 1rem;
    height: 4.8rem;
    padding: 0.2rem 2rem;
    width: 100%;
}

    /* LABEL */

.mobile-label{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 2.4rem;
}

.mobile-icon-container .material-symbols-rounded {
    font-size: 3rem;
}

    /* COLORS */

.mobile-icon-container .material-symbols-rounded,
.mobile-label,
.close-menu-button {
    color: var(--standard-text);
}

.selected .mobile-label {
    color: var(--on-selected-navgroup);
}

    /* THEME CHANGE BUTTON */

.mobile-change-theme {
    align-items: center;
    border-radius: 100vh;
    display: flex;
    float: right;
    gap: 1rem;
    height: 4rem;
    height: 5rem;
    justify-content: center;
    width: fit-content;
    width: 5rem;

}

.mobile-change-theme .material-symbols-rounded {
    color: var(--on-navgroup);
}