/* MOBILE NAVBAR MAIN CONTAINER */

.navbar-mobile-wrapper {
    display: none;
    position: fixed;
    gap: 0.5rem;
    height: 5rem;
    width: 100%;
    background-color: var(--mobile-navbar-bg);
    backdrop-filter: blur(10px);
    padding: 0.5rem 0 0.5rem 1rem;
    z-index: 2;
}

/* HAMBRGER MENU */

.hamburger-menu-wrapper {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.hamburger-menu-wrapper .material-symbols-rounded {
    color: var(--standard-text);
}

.header-wrapper {
    height: 5rem;
    border-radius: 100vw;
    gap: 1.5rem;
    padding-inline: 1.5rem;
}

.header-wrapper,
.hamburger-menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.header-logo {
    height: 3rem;
    width: 3rem;
    mask: var(--logo-mask);
    -webkit-mask: var(--logo-mask);
    mask-size: contain;
    -webkit-mask-size: contain;
}

.header-text {
    font-family: "Lexend Zetta", serif;
    font-weight: 400;
    font-size: var(--font-size-header);
    color: var(--standard-text);
}

@media(pointer: fine) {
    .hamburger-menu-wrapper:hover,
    .header-wrapper:hover{
        background-color: var(--transparent-grey);
    }

    .hamburger-menu-wrapper:hover .material-symbols-rounded {
        font-variation-settings: 'wght' 800;
    }
}