/* NAVBAR MAIN CONTAINER */

.navbar-wrapper {
    /* background-color: var(--navgroup-bg); */
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    width: 9rem;
}

/* NAVBAR STYLING */

.navbar-elements-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: auto;
    margin-top: 11.5rem;
    width: 9rem;
}

.navbar-top-elements-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 9rem;
}

/* NAVBAR ICONS STYLING */

.icon-container {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.icon-container > .clickable {
    align-items: center;
    border-radius: 100vw;
    display: flex;
    height: 3.2rem;
    justify-content: center;
    position: relative;
    width: 5.6rem;
}

.material-symbols-rounded {
    margin: 0;
}

    /* SELECTED STYLING */

.selected > .clickable,
.mobile-icon-container.selected {
    background-color: var(--md-sys-color-primary-container);
}

.selected .material-symbols-rounded {
    color: var(--md-sys-color-on-primary-container) !important;
    font-variation-settings: 'FILL' 1;
}

/* LABEL */

.label {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.4rem;
    text-align: center;
    user-select: none;
}

/* HOVER */

@media(pointer: fine) {
    .icon-container:not(.selected) > .clickable:hover,
    .mobile-icon-container:not(.selected):hover {
        background: var(--md-sys-color-surface-variant);
    }
}

/* COLORS */

.change-theme .material-symbols-rounded {
    color: var(--md-sys-color-on-tertiary-container);
}

.navbar-elements-container .material-symbols-rounded,
.label {
    color: var(--md-sys-color-on-background);
}

/* CHANGE THEME BUTTON */

.change-theme-wrapper {
    height: 5.6rem;
    margin-inline: auto;
    width: 5.6rem;
}

.change-theme {
    align-items: center;
    background-color: var(--md-sys-color-tertiary-container);
    border-radius: var(--border-radius-m);
    display: flex;
    height: 100%;
    justify-content: center;
}

/* CLOCK */

.clock-wrapper {
    align-content: center;
    display: flex;
    justify-content: center;
    width: 9rem;
}

.clock {
    color: var(--md-sys-color-on-surface-variant);
    font-family: 'JetBrains Mono', monospace;
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 0.9;
    margin-top: 2.5rem;
    text-align: center;
}