/* NAVBAR MAIN CONTAINER */

.navbar-wrapper {
    width: 90px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--navgroup-bg);
}

/* NAVBAR STYLING */

.navbar-elements-container {
    display: flex;
    flex-direction: column;
    width: 90px;
    gap: 20px;
    margin-top: 100px;
    margin-bottom: auto;
}

/* NAVBAR ICONS STYLING */

.icon-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    gap: 2px;
}

.icon-container > a {
    width: 56px;
    height: 32px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    position: relative;
    align-items: center;
}

.material-symbols-rounded {
    margin: 0;
}

    /* SELECTED STYLING */

.selected > a {
    background-color: var(--selected-navgroup);
}

.selected .material-symbols-rounded {
    color: var(--on-selected-navgroup) !important;
    font-variation-settings: 'FILL' 1;
}

/* LABEL */

.label {
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 14px;
    user-select: none;
}

/* HOVER */

.icon-container > a,
.change-theme {
    transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

@media(pointer: fine) {
    .icon-container:not(.selected) > a:hover,
    .change-theme:hover {
        background: var(--hover-navgroup);
    }

    .icon-container:not(.selected) > a:hover .material-symbols-rounded{
        font-variation-settings: 'wght' 800, 'GRAD' 0, 'opsz' 48;
    }

    .change-theme:hover .material-symbols-rounded {
        font-variation-settings: 'FILL' 1;
    }
}

/* COLORS */

.navbar-elements-container .material-symbols-rounded,
.label,
.change-theme .material-symbols-rounded {
    color: var(--on-navgroup);
}

/* CHANGE THEME BUTTON */

.change-theme-wrapper {
    height: 56px;
    width: 56px;
    margin-bottom: 17px;
}

.change-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 100px;
}