/* NAVBAR MAIN CONTAINER */

.navbar-wrapper {
    width: 9rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--navgroup-bg);
}

/* NAVBAR STYLING */

.navbar-elements-container {
    display: flex;
    flex-direction: column;
    width: 9rem;
    gap: 2rem;
    margin-top: 10rem;
    margin-bottom: auto;
}

/* NAVBAR ICONS STYLING */

.icon-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    gap: 0.2rem;
}

.icon-container > a {
    width: 5.6rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    border-radius: 100vw;
    position: relative;
    align-items: center;
}

.material-symbols-rounded {
    margin: 0;
}

    /* SELECTED STYLING */

.selected > a,
.mobile-icon-container.selected {
    background-color: var(--selected-navgroup);
}

.selected .material-symbols-rounded {
    color: var(--on-selected-navgroup) !important;
    font-variation-settings: 'FILL' 1;
}

/* LABEL */

.label {
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.4rem;
    user-select: none;
}

/* HOVER */

@media(pointer: fine) {
    .icon-container:not(.selected) > a:hover,
    .change-theme:hover,
    .mobile-icon-container:not(.selected):hover {
        background: var(--hover-navgroup);
    }

    .icon-container:not(.selected) > a:hover .material-symbols-rounded,
    .mobile-icon-container:not(.selected):hover .material-symbols-rounded {
        font-variation-settings: 'wght' 800, 'GRAD' 0, 'opsz' 48;
    }

    .change-theme:hover .material-symbols-rounded {
        font-variation-settings: 'FILL' 1;
    }
}

/* COLORS */

.navbar-elements-container .material-symbols-rounded,
.label,
.change-theme .material-symbols-rounded {
    color: var(--on-navgroup);
}

/* CHANGE THEME BUTTON */

.change-theme-wrapper {
    height: 5.6rem;
    width: 5.6rem;
    margin-bottom: 1.7rem;
}

.change-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 50%;
}