body {
    background-color: var(--neutral-90);
    opacity: 1 !important;
}

.super-wrapper {
    display: none;
}

a:hover {
    cursor: pointer !important;
}

.noscript-avatar-wrapper {
    border-radius: 50%;
}

.noscript-avatar {
    height: 19rem;
    border-radius: 50%;
}

/* --- */

.noscript-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: fixed;
    width: 100%;
    gap: 2rem;
}

.noscript-error-wrapper {
    background-color: var(--error-80);
    border-radius: 100vw 60rem 60rem 100vw;
    display: flex;
    gap: 2rem;
    min-width: 65rem;
    width: 65rem;
    padding: 2rem;
}

.noscript-warning-img {
    width: 15rem;
}

/* EXPLANATIONS */

.noscript-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.noscript-text-wrapper h1 {
    font-family: "Lexend Deca", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    margin-block: 0;
    color: var(--white);
    background-color: var(--error-40);
    border-radius: 100vw;
    padding: 1rem;
    text-align: center;
}

.noscript-text-wrapper p {
    font-family: "Jetbrains Mono", monospace;
    font-size: 2rem;
    font-weight: 400;
    margin-block: 0;
    color: var(--error-20);
    text-align: justify;
}

.noscript-text-wrapper a {
    text-decoration: underline !important;
    color: var(--error-30);
}

.noscript-text-wrapper a:visited {
    text-decoration: underline !important;
    color: var(--tertiary-30);
}