/* PAGE CONTENT MAIN CONTAINER */

.page-content-wrapper {
    padding: 9em 0 0 9em;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: calc(100vh - 9em);
}

.page-content-wrapper::-webkit-scrollbar {
    display: none;
}

/* DEFAULT STYLES FOR ".page-content-wrapper"'S CHILDREN */

.page {
    padding: 1rem 1rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* INVERTED ROUNDED CORNERS */

.inverted-topleft-corner,
.inverted-topright-corner {
    margin-top: 9rem;
    position: fixed;
    width: var(--border-radius-xl);
    height: var(--border-radius-xl);
    background-color: var(--navgroup-bg);
    z-index: 2;
}

.inverted-topleft-corner {
    margin-left: 9rem;
    -webkit-mask: var(--topleft-mask);
    mask: var(--topleft-mask);
}

.inverted-topright-corner {
    margin-left: auto;
    right: 0;
    -webkit-mask: var(--topright-mask);
    mask: var(--topright-mask);
}