ol {

    color: var(--black);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 18px;
    list-style-type: none;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
}

li {
    background-color: var(--neutral-variant-90);
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 20px;
}

.box p:empty,
.box span:empty {
    display: none;
}

.box p {
    display: block;
    margin-block-end: 0;
    margin-block-start: 1em;
}

.stats {
    margin-block-start: 1em;
}

.stats,
.box span,
.box a {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.box span {
    margin-right: 10px;
}

.box circle {
    cx: 9;
    cy: 9;
    r: 9;
    stroke: none;
}

.box svg {
    height: 18px;
    margin-right: 5px !important;
    width: 18px;
}

.box > a {
    font-family: 'Lexend Zetta', sans-serif;
}

ol a:visited {
    color: var(--tertiary-10);
}

ol a {
    color: var(--tertiary-10);
    text-decoration: none;
    width: fit-content;
}