/* REPO LIST WRAPPER */

.repos-list-wrapper {
    display: grid;
    gap: 1rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 7.5rem;
    max-width: 120rem;
    width: 100%;
}

/* REPO ITEM WRAPPER */

.repo-wrapper {
    background-color: var(--repo-card);
    border-radius: var(--border-radius-l);
    height: 100%;
    transition: background-color 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000), 
                border-radius 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000),
                outline-width 50ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

/* REPO INFOS (NAME, DESCRIPTION, METADATA) */

.repo-infos {
    display: grid;
    gap: 1.5rem;
    grid-auto-rows: min-content auto max-content;
    height: calc(100% - 4rem);
    margin: 2rem;
}

.repo-infos > * {
    margin-block: 0;
}

    /* TITLE */

.repo-title {
    color: var(--standard-text);
    font-family: 'Lexend Zetta', sans-serif;
    font-size: var(--font-size-m);
    font-weight: 600;
    transition: color 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000), 
                text-shadow 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    width: fit-content;
}

    /* DESCRIPTION */

.repo-desc {
    color: var(--standard-text);
    font-family: 'Lexend Deca', sans-serif;
    font-size: var(--font-size-s);
    height: fit-content;
}

    /* METADATA (LANGUAGE, STARS, FORKS) */

.repo-metadata {
    align-items: center;
    display: flex;
    gap: .5rem;
    height: fit-content;
    line-height: 1;
}

.repo-metadata .material-symbols-rounded {
    font-size: var(--font-size-m);
}

.metadata-text,
.repo-language {
    font-family: 'Jetbrains Mono', sans-serif;
    font-size: var(--font-size-s);
    margin: 0;
}

.repo-language:empty {
    display: none;
}

.repo-metadata > * {
    color: var(--standard-text);
    transition: color 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

/* HOVER */

@media(pointer: fine) {
    .repo-wrapper:hover {
        background-color: var(--repo-card-hover);
        border-radius: var(--border-radius-xl);
    }

    .repo-wrapper:hover .repo-infos > * {
        color: var(--repo-card-infos-hover);
    }

    .repo-wrapper:hover .repo-title {
        text-shadow: 0 0 .2rem var(--repo-card-infos-hover);
    }

    .repo-wrapper:hover .material-symbols-rounded {
        font-variation-settings: 'wght' 500;
    }
}