/* STATUSBAR MAIN CONTAINER */

.statusbar-wrapper {
    align-content: center;
    align-items: center;
    background-color: var(--navgroup-bg);
    display: flex;
    height: 9rem;
    justify-content: space-between;
    margin-left: 9rem;
    overflow: hidden;
    position: fixed;
    z-index: 2;
}

/* NAME */

.name-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 2rem;
    width: fit-content;
}

.name {
    color: var(--on-navgroup);
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 3.5rem;
    font-weight: 200;
    letter-spacing: -0.2rem;
}

/* DATE */

.date-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 3rem;
    width: fit-content;
}

.date {
    color: var(--on-navgroup);
    font-family: 'JetBrains Mono', monospace;
    font-size: 2rem;
}