/* STATUSBAR MAIN CONTAINER */

.statusbar-wrapper {
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    background-color: var(--primary-90);
    z-index: 2;
}

/* STATUSBAR STYLING */

.statusbar-elements-container {
    display: flex;
    align-content: center;
    height: 90px;
}

/* CLOCK */

.clock-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 90px;
    margin-right: 20px;
}

.clock {
    color: var(--primary-10);
    margin-top: 20px;
    font-size: 32px;
    font-family: 'JetBrains Mono ExtraBold', monospace;
    line-height: 0.9;
    text-align: center;
}

/* NAME */

.name-wrapper {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.name {
    color: var(--primary-10);
    font-size: 35px;
    font-family: 'Lexend Zetta Light', sans-serif;
    letter-spacing: -2px;
}

/* DATE */

.date-wrapper {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 30px;
}

.date {
    color: var(--primary-10);
    font-size: 20px;
    font-family: 'JetBrains Mono', monospace;
}