/* STATUSBAR MAIN CONTAINER */

.statusbar-wrapper {
    height: 9rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    background-color: var(--navgroup-bg);
    z-index: 2;
}

/* STATUSBAR STYLING */

.statusbar-elements-container {
    display: flex;
    align-content: center;
    height: 9rem;
}

/* CLOCK */

.clock-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 9rem;
    margin-right: 2rem;
}

.clock {
    color: var(--on-navgroup);
    margin-top: 2rem;
    font-size: 3.2rem;
    font-family: 'JetBrains Mono', monospace;
    line-height: 0.9;
    font-weight: 800;
    text-align: center;
}

/* NAME */

.name-wrapper {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}

.name {
    color: var(--on-navgroup);
    font-size: 3.5rem;
    font-family: 'Lexend Zetta', sans-serif;
    font-weight: 200;
    letter-spacing: -0.2rem;
}

/* DATE */

.date-wrapper {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 3rem;
}

.date {
    color: var(--on-navgroup);
    font-size: 2rem;
    font-family: 'JetBrains Mono', monospace;
}