@import "variables.css";
@import "animations.css";
@import "customCursor.css";
@import "navBarStyle.css";
@import "mobileNavBar.css";
@import "statusBarStyle.css";
@import "pageContentStyle.css";
@import "homePageStyle.css";
@import "reposPageStyle.css";
@import "infoPageStyle.css";
@import "contactPageStyle.css";
@import "mediaQueries.css";

html {
    font-size: 62.5%;
}

body {
    background-color: var(--page-bg);
    transition: opacity 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000),
                background-color 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

a:link, .mobile-label:link {
    text-decoration: none !important;
    cursor: none;
}

body,
html {
    margin: 0;
    overflow-y: hidden;
}

.no-scroll {
    overflow: hidden;
}

.super-wrapper {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
}

.hidden {
    display: none !important;
}

.home,
.repos-page,
.info-page,
.contact-page {
    transition: opacity 200ms linear;
}

/* OVERLAY */

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    animation-duration: 200ms;
    animation-name: fade-in;
}

.overlay.hiding {
    animation-duration: 200ms;
    animation-name: fade-out;
}

.overlay.hidden {
    display: none;
    opacity: 0;
}

/* GLOBAL STYLES */

    /* NO USERSELECT */

.clock,
.material-symbols-rounded,
.label,
.mobile-label,
.mobile-change-theme-label,
.date,
.name,
.title,
.subtitle,
.header-text,
.featured-projects-title,
img {
    user-select: none;
}

    /* TRANSITIONS */

* {
    transition: background-color 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000),
                color 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.icon-container > a,
.mobile-icon-container,
.change-theme,
.mobile-change-theme {
    transition: background-color 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.title,
.subtitle {
    transition: font-size 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.title-wrapper,
.logo-wrapper,
.logo,
.title-elements {
    transition: width 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000),
                height 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000),
                background-color 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000),
                color 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

    /* ACCESSIBILITY */

a {
    outline: var(--standard-text) 0 solid;
    transition: outline-width 50ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.icon-container > a,
.change-theme,
.mobile-icon-container {
    transition: background-color 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000),
    outline-width 50ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

a:focus-visible {
    outline: .35rem solid var(--standard-text);
}