@import "variables.css";
@import "animations.css";
@import "customCursor.css";
@import "navBarStyle.css";
@import "mobileNavBar.css";
@import "statusBarStyle.css";
@import "pageContentStyle.css";
@import "homePageStyle.css";
@import "repoListStyle.css";
@import "repoListStyle.css";
@import "mediaQueries.css";

body {
    background-color: var(--page-bg);
    transition: opacity 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000),
                background-color 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

a:link, .mobile-label:link {
    text-decoration: none !important;
}

body,
html {
    overflow-y: hidden;
    margin: 0;
}

.super-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

/* GLOBAL STYLES */

    /* NO USERSELECT */

.clock,
.material-symbols-rounded,
.label,
.date,
.name,
.title,
.subtitle,
img {
    user-select: none;
}

    /* MISCELLANEOUS */

* {
    transition: background-color 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000),
                color 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.title,
.subtitle {
    transition: font-size 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.title-wrapper,
.logo-wrapper,
.logo,
.title-elements {
    transition: width 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000),
                height 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000),
                background-color 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000),
                color 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}