@import "variables.css";
@import "animations.css";
@import "navBarStyle.css";
@import "statusBarStyle.css";
@import "pageContentStyle.css";
@import "homePageStyle.css";
@import "repoListStyle.css";
@import "repoListStyle.css";

body {
    background-color: var(--white);
}

.visible {
    display: block;
    animation-name: fade-in;
    animation-duration: 2500ms;
}

.hidden {
    display: none;
}

body,
html {
    overflow-y: hidden;
    margin: 0;
}

.super-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

/* DAY PROGRESS */

.day-progress-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: var(--tertiary-90);
}

.progress-value {
    color: var(--tertiary-10);
    font-size: 25px;
    font-family: 'Lexend Deca', sans-serif;
}

/* DAY PROGRESS-BAR */

.day-progress-bar-container {
    background-color: var(--tertiary-90);
}

.progress-bar {
    display: flex;
    align-items: center;
    justify-content : center;
    border-radius: 10px;
    background-color : var(--tertiary-10);
    height : 20px;
    background-size: 1rem 1rem;
}

/* GLOBAL STYLES */

.statusbar-wrapper,
.navbar-wrapper {
    background-color: var(--neutral-variant-90);
}

    /* NO USERSELECT */

.clock,
.material-symbols-rounded,
.label,
.date,
.name,
.title,
.subtitle {
    user-select: none;
}