/* COLORS */

:root {
    --black: #1A1C1E;
    --white: #FFFFFF;

    --transparent-white: #FFFFFFCC;
    --transparent-grey: #7F766B33;
    --transparent-black: #1A1C1E33;

    --primary-90: #CDE5FF;
    --primary-80: #95CCFF;
    --primary-70: #4CB2FF;
    --primary-40: #006399;
    --primary-30: #004A75;
    --primary-20: #003352;
    --primary-10: #001D32;

    --secondary-90: #D0E5FB;
    --secondary-40: #4D6073;
    --secondary-30: #36495B;
    --secondary-10: #081D2D;

    --tertiary-90: #EEDCFF;
    --tertiary-80: #D4BDEE;
    --tertiary-40: #695681;
    --tertiary-20: #3A2850;
    --tertiary-10: #241339;
    --transparent-tertiary-80: #D4BDEEDD;
    --transparent-tertiary-20: #3A2850DD;

    --neutral-variant-90: #DEE3EB;
    --neutral-variant-80: #C2C7CF;
    --neutral-variant-40: #595F66;
    --neutral-variant-30: #42474E;
    --neutral-variant-10: #171C22;
}

/* LIGHT THEME */

[theme="light"] {
    --standard-text: var(--black);
    --cursor: var(--tertiary-20);
    --hover-cursor: var(--transparent-tertiary-20);
    --page-bg: var(--white);
    --navgroup-bg: var(--neutral-variant-90);
    --featured-projects-title: var(--black);
    --featured-project-card: var(--neutral-variant-90);
    --featured-project-card-hover: var(--primary-80);
    --mobile-navbar-bg: var(--transparent-white);
    --on-navgroup: var(--neutral-variant-10);
    --selected-navgroup: var(--primary-80);
    --on-selected-navgroup: var(--primary-20);
    --hover-navgroup: var(--neutral-variant-80);
    --title-bg: var(--secondary-90);
    --on-title: var(--secondary-10);
    --progress-bar: var(--tertiary-10);
}

/* DARK THEME */

[theme="dark"] {
    --standard-text: var(--white);
    --cursor: var(--tertiary-80);
    --hover-cursor: var(--transparent-tertiary-80);
    --page-bg: var(--black);
    --navgroup-bg: var(--neutral-variant-30);
    --featured-projects-title: var(--white);
    --featured-project-card: var(--neutral-variant-30);
    --featured-project-card-hover: var(--primary-30);
    --mobile-navbar-bg: var(--transparent-black);
    --on-navgroup: var(--neutral-variant-90);
    --selected-navgroup: var(--primary-30);
    --on-selected-navgroup: var(--primary-90);
    --hover-navgroup: var(--neutral-variant-40);
    --title-bg: var(--secondary-30);
    --on-title: var(--secondary-90);
    --progress-bar-bg: var(--tertiary-20);
    --progress-bar: var(--tertiary-80);
}

/* INVERTED ROUNDED CORNERS MASKS */

:root {
    --topleft-mask: radial-gradient(var(--border-radius-xl) at 100% 100%,#0000 98%,#000);
    --topright-mask: radial-gradient(var(--border-radius-xl) at 0 100%,#0000 98%,#000);
    --logo-mask: url("../res/img/logoMask.svg");
}

/* OTHER VARIABLES */

    /* BORDER RADIUS SIZES */

:root {
    --border-radius-s: 1.2rem;
    --border-radius-m: 1.6rem;
    --border-radius-l: 2.4rem;
    --border-radius-xl: 3.2rem;
}

    /* FONT SIZES */

:root {
    --font-size-s: 1.4rem;
    --font-size-m: 2.2rem;
    --font-size-l: 4.8rem;
    --font-size-xl: 6.4rem;

    --font-size-header: 1.8rem;
}