/* COLORS */

:root {
    --black: #1A1C1E;
    --white: #FFFFFF;

    --primary-90: #CDE5FF;
    --primary-80: #95CCFF;
    --primary-40: #006399;
    --primary-10: #001D32;

    --secondary-40: #4D6073;
    --secondary-90: #D0E5FB;
    --secondary-10: #081D2D;

    --tertiary-40: #695681;
    --tertiary-90: #EEDCFF;
    --tertiary-10: #241339;

    --neutral-variant-90: #DEE3EB;
}

/* INVERTED ROUNDED CORNERS MASKS */

:root {
    --topleft-mask: radial-gradient(var(--border-radius-xl) at 100% 100%,#0000 98%,#000);
    --topright-mask: radial-gradient(var(--border-radius-xl) at 0 100%,#0000 98%,#000);
    --logo-mask: url("/res/img/logoMask.svg")
}

/* OTHER VARIABLES */

    /* BORDER RADIUS SIZES */

:root {
    --border-radius-s: 12px;
    --border-radius-m: 16px;
    --border-radius-l: 24px;
    --border-radius-xl: 32px;
}

    /* FONT SIZES */

:root {
    --font-size-s: 14px;
    --font-size-m: 22px;
    --font-size-l: 64px;
    --font-size-xl: 88px;
}